<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <resultMap id="DishVOMap" type="com.sky.vo.DishVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="selectPageWithCategory" resultMap="DishVOMap">
        select d.*,c.name as category_name from dish d left join category c on d.category_id = c.id
        <where>
            <if test="dto.name != null and dto.name != '' ">
                AND d.name LIKE CONCAT("%",#{dto.name},"%")
            </if>
            <if test="dto.categoryId != null">
                AND d.category_id = #{dto.categoryId}
            </if>
            <if test="dto.status != null">
                AND d.status = #{dto.status}
            </if>
        </where>
    </select>
</mapper>
